.button {
  display: grid;
  place-items: center;
  cursor: pointer;
  border: none;
  border-radius: 2.4rem;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  transition: background-color 0.2s;
}

.primaryLg {
  background: var(--color-primary);
  font-family: sans-serif;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  width: 100%;

  &:hover {
    background-color: var(--color-btn-primary-bg-hover);
  }
}

.primarySm {
  background: var(--color-primary);
  font-family: var(--font-primary);
  color: var(--color-btn-primary-label);
  padding: 0.5rem 1.6rem;
  font-size: 1.2rem;
  line-height: 2.3rem;

  &:hover {
    background-color: var(--color-btn-primary-bg-hover);
  }
}

.secondary {
  background: var(--color-button-secondary-bg);
  font-family: var(--font-primary);
  color: var(--color-btn-secondary-label);
  padding: 0.5rem 1.6rem;
  font-size: 1.2rem;
  line-height: 2.3rem;
  width: 100%;

  &:hover {
    // background-color: var(--color-btn-secondary-bg-hover);
  }
}

.secondarySm {
  background: var(--color-button-secondary-bg);
  font-family: var(--font-primary);
  color: var(--color-btn-secondary-label);
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  line-height: 2.3rem;
}

.tertiary {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: transparent;
  font-size: 1rem;
  line-height: 2.3rem;
  width: 100%;
  border-radius: 0;
  width: max-content;

  &:hover {
    text-decoration: underline;
  }
}

.destructive {
  background: var(--color-destructive);
  font-family: var(--font-primary);
  color: var(--color-btn-primary-label);
  padding: 0.5rem 1.6rem;
  font-size: 1.2rem;
  line-height: 2.3rem;
  width: 100%;

  &:hover {
    background-color: var(--color-destructive-light);
  }
}

.destructiveSm {
  font-family: var(--font-primary);
  color: var(--color-destructive);
  background-color: transparent;
  font-size: 1rem;
  line-height: 2.3rem;
  width: 100%;
  border-radius: 0;
  width: max-content;

  &:hover {
    text-decoration: underline;
  }
}
