.primary {
  font-family: var(--font-primary);
  color: var(--color-text-secondary);
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 0.8rem;
}

.secondary {
  font-family: var(--font-primary);
  color: var(--color-text-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.tertiary {
  font-family: var(--font-primary);
  color: var(--color-text-tertiary);
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
