.container {
  max-width: 25rem;
  min-width: 25rem;

  .cardsContainer {
    list-style: none; /* Fallback for older browsers */
    list-style-type: none; /* Modern browsers */
    display: grid;
    min-height: 6rem;

    border-radius: 8px;
    padding-bottom: 0.4rem;

    transition: all 0.1s ease-out;

    &Dragging {
      transition: all 0.1s ease-in;
      background-color: var(--color-bg-secondary);
    }

    > * {
      margin-top: 0.4rem;
      margin-inline: 0.4rem;
    }
  }
}

.titleContainer {
  padding: 0.6rem;
  transition: all 0.2s;
  border-radius: 0.6rem;

  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: var(--color-bg-secondary);
  }
  margin-bottom: 1rem;

  .label {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: #49c4e5;
    margin-right: 0.6rem;
  }
  display: flex;
  align-items: center;

  .title {
    display: flex;
  }

  .iconContainer {
    display: grid;
    place-items: center;
    border-radius: 0.6rem;
    padding: 0.2rem;

    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    background-color: var(--color-bg-primary);

    transition: all 0.2s;

    &:hover {
      scale: 1.05;
    }
  }

  &:hover {
    .iconContainer {
      opacity: 1;
      pointer-events: all;
    }
  }
}
