.container {
  padding: 0.8rem 0.4rem;
  background: var(--color-checkbox-bg);
  border-radius: 0.4rem;
  width: max-content;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: var(--color-checkbox-bg-hover);
    mix-blend-mode: normal;
  }

  .checkbox {
    width: 1.6rem;
    height: 1.6rem;
    display: grid;
    place-items: center;
    background-color: var(--color-checkbox-bg-secondary);
    border: 1px solid var(--color-checkbox-border);
    margin-right: 1rem;
    border-radius: 0.4rem;

    min-width: 1.6rem;

    &Checked {
      background-color: var(--color-checkbox-checked);
    }
  }

  .label {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--color-text);

    &Checked {
      opacity: 0.5;
      text-decoration: line-through;
      // color: rgba(98, 95, 199, 0.5);
    }
  }
}
