.container {
  background-color: var(--color-bg-tertiary);
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 8px;
  padding: 2.4rem 1.6rem;
  width: 100%;
  min-width: 24rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-bg-primary);
  }

  .titleContainer {
    margin-bottom: 0.6rem;
  }
}
