.container {
  display: flex;
  overflow: scroll;
  width: calc(100vw - 250px);
  overflow: scroll;
  height: calc(100vh - 7.4rem);

  &FullWidth {
    width: 100vw;
  }

  .board {
    position: relative;
    // min-height: 100vh;
    display: flex;
    padding: 2rem;
    // padding-bottom: 24rem;
    > div {
      margin-right: 1.2rem;
    }
  }
  .newColumn {
    cursor: pointer;
    display: grid;
    place-items: center;
    margin-top: 4rem;
    min-height: 80vh;
    max-width: 28rem;
    min-width: 25rem;
    background: var(--color-bg-secondary);
    max-width: 28rem;
    border-radius: 8px;

    &:hover {
      background: var(--color-bg-tertiary);
    }
    .text {
      font-family: var(--font-primary);
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 30px;
      text-align: center;

      /* Medium Grey */

      color: #828fa3;
    }
  }

  .createColumnInputContainer {
    display: flex;
    align-items: flex-start;
    max-width: 28rem;
    min-width: 25rem;
    margin-top: 2rem;
    .createColumnInput {
      display: grid;
      grid-template-columns: auto 16px;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }

    .delete {
      cursor: pointer;
    }
  }
  .empty {
    // min-height: 80vh;
    max-width: 20rem;
    min-width: 20rem;
  }
}
