.container {
  overflow: scroll;
  height: 100vh;
  width: calc(100vw - 250px);

  &FullWidth {
    width: 100vw;
  }

  .board {
    position: relative;
    min-height: 100vh;
    display: flex;
    padding: 2rem;
    padding-bottom: 24rem;
    > div {
      margin-right: 1.2rem;
      &:last-child {
        margin-right: 24rem;
      }
    }
  }
  .newColumn {
    cursor: pointer;
    display: grid;
    place-items: center;
    margin-top: 4rem;
    min-height: 80vh;
    max-width: 28rem;
    min-width: 25rem;
    background: var(--color-bg-gradient);
    max-width: 28rem;
    border-radius: 8px;

    &:hover {
      background: var(--color-bg-gradient-hover);
    }
    .text {
      font-family: var(--font-primary);
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 30px;
      text-align: center;

      /* Medium Grey */

      color: #828fa3;
    }
  }
  .empty {
    min-height: 80vh;
    max-width: 20rem;
    min-width: 20rem;
  }
}
