.container {
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: #00000157;

  z-index: 999;

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;

    translate: -50% -50%;

    display: flex;
    justify-content: space-between;
    gap: 0.4rem;

    .bar {
      background-color: #625fc7;
      border-radius: 2px;
      height: 3.2rem;
      width: 0.65rem;
      opacity: 0.6;

      transition: all 0.25s ease-in-out;

      &Active {
        opacity: 1;
      }
    }
  }
}
