.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: var(--color-bg-tertiary);
  border-bottom: 1px solid var(--color-bg-secondary);

  .actionsContainer {
    display: flex;
    align-items: center;

    .options {
      margin-left: 2rem;
      cursor: pointer;
    }
  }
}
