.container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--color-modal-bg);
    padding: 3.2rem;
    border-radius: 0.6rem;

    width: min(100% - 2rem, 40rem);

    display: grid;
    gap: 1rem;

    .form {
        margin-top: 2rem;
    }
  }
}
