:root {
  /* Fonts */
  --font-primary: "Plus Jakarta Sans", sans-serif;

  /* Primary Colors */
  --color-primary: #635fc7;
  --color-primary-light: #a8a4ff;

  /* Logo */
  --color-logo: #000112;

  /* Background Colors */
  --color-bg-primary: #f4f7fd;
  --color-bg-secondary: #e4ebfa;
  --color-bg-tertiary: #ffffff;

  /* Destructive Colors */
  --color-destructive: #ea5555;
  --color-destructive-light: #ff9898;

  /* Text colors */
  --color-text: #000112;
  --color-text-secondary: #2b2c37;
  --color-text-tertiary: #828fa3;

  /*  Button Colors */
  --color-btn-primary-bg: #635fc7;
  --color-btn-primary-bg-hover: #a8a4ff;
  --color-btn-primary-label: #ffffff;
  --color-btn-secondary-bg: rgba(99, 95, 199, 0.1);
  --color-btn-secondary-bg-hover: rgba(99, 95, 199, 0.25);
  --color-btn-secondary-label: #635fc7;

  /*  Form - Checkbox */
  --color-checkbox-bg: #f4f7fd;
  --color-checkbox-bg-secondary: #ffffff;
  --color-checkbox-bg-hover: rgba(98, 95, 199, 0.25);
  --color-checkbox-border: rgba(130, 143, 163, 0.25);
  --color-checkbox-checked: #635fc7;

  /* Form - Dropdown */
  --color-dropdown-bg: #ffffff;
  --color-dropdown-border: rgba(130, 143, 163, 0.25);
  --color-dropdown-border-focused: #635fc7;
  --color-dropdown-text: #000112;
  --color-dropdown-text-secondary: #828fa3;
  --color-dropdown-text-secondary-hover: #2b2c37;
  --color-dropdown-list-bg: #ffffff;
  --color-dropdown-hover: #f4f7fd;
  --color-dropdown-option-text: #000112;

  /* Form - Input */
  --color-input-bg: #ffffff;
  --color-input-title: #828fa3;
  --color-input-placeholder: #000112;
  --color-input-text: #000112;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Text */
    --color-text: #ffffff;
    --color-text-secondary: #ffffff;

    /* Logo */
    --color-logo: #ffffff;

    /* Background */
    --color-bg-primary: #20212c;
    --color-bg-secondary: #3e3f4e;
    --color-bg-tertiary: #2b2c37;

    /* Background - Nav / Sidebar */

    /* Button */
    --color-button-secondary-bg: #ffffff;
    --color-button-secondary-bg-hover: #ffffff;

    /* Form - Checkbox */
    --color-checkbox-bg: #20212c;
    --color-checkbox-bg-secondary: #2b2c37;
    --color-checkbox-bg-hover: #45438b;

    /* Form - Dropdown */
    --color-dropdown-bg: #2b2c37;
    --color-dropdown-border-focused: #635fc7;
    --color-dropdown-text: #ffffff;
    --color-dropdown-text-secondary-hover: #ffffff;
    --color-dropdown-list-bg: #20212c;
    --color-dropdown-hover: #2b2c37;

    /* Form - Input */
    --color-input-bg: #2b2c37;
    --color-input-title: #ffffff;
    --color-input-placeholder: #ffffff;
    --color-input-text: #ffffff;
  }
}

[data-theme="dark"] {
  /* Text */
  --color-text: #ffffff;
  --color-text-secondary: #ffffff;

  /* Logo */
  --color-logo: #ffffff;

  /* Background */
  --color-bg-primary: #20212c;
  --color-bg-secondary: #3e3f4e;
  --color-bg-tertiary: #2b2c37;

  /* Button */
  --color-button-secondary-bg: #ffffff;
  --color-button-secondary-bg-hover: #ffffff;

  /* Form - Checkbox */
  --color-checkbox-bg: #20212c;
  --color-checkbox-bg-secondary: #2b2c37;
  --color-checkbox-bg-hover: #45438b;

  /* Form - Dropdown */
  --color-dropdown-bg: #2b2c37;
  --color-dropdown-border-focused: #635fc7;
  --color-dropdown-text: #ffffff;
  --color-dropdown-text-secondary-hover: #ffffff;
  --color-dropdown-list-bg: #20212c;
  --color-dropdown-hover: #2b2c37;

  /* Form - Input */
  --color-input-bg: #2b2c37;
  --color-input-title: #ffffff;
  --color-input-placeholder: #ffffff;
  --color-input-text: #ffffff;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}
