:root {
  /* Fonts */
  --font-primary: "Plus Jakarta Sans", sans-serif;

  /* Primary Colors */
  --color-primary: #635fc7;
  --color-primary-light: #a8a4ff;

  /* Text colors */
  --color-text: #000112;
  --color-text-secondary: #2b2c37;
  --color-text-tertiary: #828fa3;

  /*  Button Colors */
  --color-btn-primary-bg: #635fc7;
  --color-btn-primary-bg-hover: #a8a4ff;
  --color-btn-primary-label: #ffffff;
  --color-btn-secondary-bg: rgba(99, 95, 199, 0.1);
  --color-btn-secondary-bg-hover: rgba(99, 95, 199, 0.25);
  --color-btn-secondary-label: #635fc7;

  /* Background Colors */
  --color-bg-primary: #f4f7fd;
  --color-bg-secondary: #e4ebfa;
  --color-bg-tertiary: #ffffff;

  /* Destructive Colors */
  --color-destructive: #ea5555;
  --color-destructive-light: #ff9898;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ffffff;
    --color-bg-primary: #20212c;
    --color-bg-secondary: #2b2c37;
    --color-bg-tertiary: #3e3f4e;
    --color-button-secondary-bg: #ffffff;
    --color-button-secondary-bg-hover: #ffffff;
  }
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}
